*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F6F8FA;
}

header{
    background-color: #FFFFFF;
}

img{
    margin-top: 20px;
    margin-left: 30px;
    vertical-align: middle;
    margin-bottom: 5px;
}

.title{
    display: inline;
    font-size: 50px;
    vertical-align: middle;
}

.container{
  margin: auto;
  margin-top:4% ;
  background-color: #FFFFFF;
  height: 50px;
  width: 900px;
  border-radius: 5px;
}

.bottom{
    padding: 15px 20px;
}

.task{
        padding: 5px;
        border-radius: 5px;
        font-size: 12px;
        border: 2px solid#E8EAEC;

        color: #FFFFFF;
        background-color: #47ADF1;
}

.section{
    color: #E8EAEC;
    border: 2px solid#E8EAEC;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
}

.container2{
 margin: auto;
 width: 900px;
 background-color: #FFFFFF;
 height: 500px;
}


ul{
    list-style: none;
}

.list{
  margin: 30px 40px;
}

.circle{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border-radius: 50%;
  line-height: 15px;
  font-size: 10px;
  text-align: center;
}

.yes{
    border: 1px solid #2cc6ab;
    color: #2cc6ab;
}

.none{
    border: 1px solid #ff0000;
    color: #ff0000;
}

.pulsante{
    color: #ffffff;
    padding: 4px;
    font-size: 10px;
    height: 15px;
    border-radius: 5px;
  }

  .blu{
    background-color: #99cbff;
  }
  
  .viola{
    background-color: #BA55D3;
  }
  
  .verde{
    background-color: #3CB371;
  }
  
  .arancione{
    background-color: #F4A460;
  }
  
  .rosa{
    background-color: #C71585;
  }
  
  .verde{
    background-color: #3CB371;
  }