*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F6F8FA;
}

header{
    background-color: white;
}

img{
    margin-top: 20px;
    margin-left: 30px;
    vertical-align: middle;
    margin-bottom: 5px;
}

.title{
    display: inline;
    font-size: 50px;
    vertical-align: middle;
}